.editProfile-container{
    width: 100%;
    height: 100%;
    /* background: lightblue; */
    padding: 2% 3%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.editProfile-form{
    display: grid;
    min-height: 363px;
    max-height: 393px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    align-items: center;
    grid-column-gap: 2%;
    grid-row-gap: 1%;
}

.editProfile-label{
    justify-self: right;
    font-weight: 600;
    
}

.editProfile-input{
    width: 100%;
    height: 40px;
    padding: 8px;
    margin: 8px;
    outline: none;
    border: 0;
    border-radius: 4px;
    background: #f5f4f4ba;
}


.editProfile-textarea{
    width: 100%;
    min-height: 50px;
    padding: 8px;
    margin: 8px;
    outline: none;
    border: 0;
    border-radius: 4px;
    background: #f5f4f4ba;
    resize: none;
}

.editProfile-button{
    justify-self: right;
    grid-column: 2;
    width: 50%;
    min-width: 150px;
    max-width: 180px;
}
