.changePassword-container{
    width: 100%;
    height: 100%;
    /* background: lightblue; */
    padding: 2% 3%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.changePassword-form{
    min-height: 300px;
    max-height: 350px;
    
}

.changePassword-label{
    justify-self: right;
    font-weight: 600;
    
}

.changePassword-input{
    width: 100%;
    height: 40px;
    padding: 8px;
    margin: 8px;
    outline: none;
    border: 0;
    border-radius: 4px;
    background: #f5f4f4ba;
}

.changePassword-button{
    justify-self: right;
    grid-column: 2;
    width: 50%;
    min-width: 150px;
    max-width: 180px;
}

.passwordPage-holder{
    display: grid;
    width: 100%;
    margin-bottom: 10px;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
    grid-column-gap: 2%;
    grid-row-gap: 1%;
}

.password-tooltip{
    width: 60%;
    padding: 10px;
}


@media(max-width: 760px){
    .changePassword-container form{
        width: 98%;
    }
}