.details{
    height: calc(100vh - 8vh);
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5%;
    padding-top: 2%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    scrollbar-width: none;

}

.details::-webkit-scrollbar { 
    display: none; 
    
} 

.details-container{
    width: 50%;
    height: 100%;
    /* background-color: rosybrown; */
}

.details-image{
    width: 100%;
}

.details-image img{
    width: 100%;
    height: auto;
    object-fit: contain;
}


.details-comment-section{
    min-height: 500px;
    max-height: 600px;
    height: 100%;
    position: relative;
}

.details-header{
   
    height:10%;
    width: 100%;
    position: absolute;
    top:0;
    left:0; 
    display: flex;
    justify-content: space-between;
}

.details-header img{
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.details-user
{
    margin: 0 2%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}


.details-commentbox{
    position: absolute;
    top: 10%;
    height: 75%;
    /* background-color: turquoise; */
    width: 100%;
    overflow-y: scroll;
    padding: 2% 4%;
    scrollbar-width: none;
}

.details-commentbox::-webkit-scrollbar { 
    display: none; 
    
} 

.details-header-left{
    height: 100%;
    width: 50%;
    display: flex;
    padding: 1%;
}

.details-input{
    position: absolute;
    bottom: 0;
    height: 20%;
    /* background-color: teal; */
    width: 100%;
}

.details-comment{
    display: flex;
    height: 15%;
    /* background-color: teal; */
    min-height: 60px;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
}

.comment-user{
    height: 100%;
    width: auto;
    padding: 10px;
    display: flex;
    align-items: center;
}

.comment-user img{
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.comment-data{
    width: 100%;
}

.comment-edit{
    height: 100%;
    width: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    align-self: flex-end;
}

.comment-edit img{
    height: 65%;
    width: auto;
    border-radius: 50%;
    margin-right: 20%;
    cursor: pointer;
}

.details-input{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0 2%;

}

.details-misc{
    height: 45%;
    width: 100%;
    /* background-color: thistle; */
}

.details-input-holder input{
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
    border-radius: 12px;
    outline: none;
    border: 1px solid black;
    margin: 0 1%;
    padding: 0 2%;
}

.details-input-holder{
    height: 100%;
    width: 100%;
    display: flex;
    margin-bottom: 2%;
}

.details-user-options{
    height: 100%;
    width: 50%;
    /* background-color: teal; */
    padding: 1%;
    display: flex;
    justify-content: flex-end;
}

.details-likes{
    height: 100%;
    width: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2%;

}

.details-likes img{
    margin: 5px;
    border-radius: 0;
    cursor: pointer;
}

.details-likes span{
    font-weight: 200;
}

.details-delete{
    height: 100%;
    width: auto;
    padding: 1%;
    /* background: thistle; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.details-delete img{
    height: 100%;
    width: auto;
    border-radius: 0;
    cursor: pointer;
}

.grid-item-likes img{
    height: 100%;
    width: auto;
    margin-right: 15%;
    cursor: pointer;
}


@media(max-width: 1024px){
    .details-container{
        width: 80%;
    }
}

@media(max-width: 760px){
    .details-container{
        width: 98%;
    }

    .details-input input{
        width: 100%;
        height: 80%;
        margin-bottom: 1%;
        border-radius: 12px;
        outline: none;
        border: none;
    }
}