.header{
    height: 8vh;
    display: flex;
    position: fixed;
    z-index: 999;
    background: white;
    width: 100%;
    top:0;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    padding-bottom: 0; 
    /* background-color: hotpink; */
}

.addPost-header{
    display: none;
}


.left{
   height: 80%;
   width: 100%;
}

.left img{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: flex-start;
}

.mid{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.images{
    height: 40%;
    width: auto;
    margin: 0 3%;
    cursor: pointer;
}

 
.right{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }


@media (max-width: 740px) {
    .header{
        height: 7vh;
        padding: 0 20px;
    }
  }


@media (max-width: 600px) {
    
    .addPost-header{
        display: block;
        height: 50%;
        width: auto;
    }


    .header{
        height: 7vh;
        padding: 0 10px;
    }
      
    .mid{
        visibility: hidden;
        display: none;
    }

    .logo{
        width: 25px;
        height: 25px;
    }

    .right{
        display: flex;
    }
  }